.horizontal-flex {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: $gap-unit;
}
.btn-outline,
.btn-fill {
  width: 120px;
  height: fit-content;
  padding: 5px 15px;
  border: $border;
  font-size: 14px;
  border-radius: $border-radius;
}
.btn-fill {
  color: $background-color;
  background-color: $accent-color;
}
.btn-outline {
  color: $secondary-color;
  background-color: transparent;
}
.submit-btn-cont {
  display: flex;
  padding: 30px 0 0px 0;
  > * {
    flex-grow: 1;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: $lg-gap-unit;
  padding-top: 20px;
  .form-sub-heading {
    font-weight: bold;
    width: 100%;
    font-size: 14px;
    margin-bottom: 16px;
  }
  fieldset {
    width: 100%;
    display: flex;
    border: none;
    flex-wrap: wrap;
    > * {
      flex-grow: 1;
    }
  }
}

button.expense-income-btn {
  width: 30px;
  height: 30px;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: $dark-grey;
  }
}
.info-text {
  color: $info-color;
  font-weight: 400;
  font-style: italic;
}

// Money Input
.money-input-container {
    display: flex;
    align-items: center;

    .money-input-symbol {
        font-size: 24px;
        font-weight: 700;
        margin-right: -20px;
    }

  .money-input {
    width: 100%;
    border: $border;
    border-radius: $border-radius;
    padding: 8px 8px 8px 25px;
    font-size: 24px;
    font-weight: 700;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
}

.error-cont {
  display: flex;
  align-items: center;
  gap: $gap-unit;
  color: $error-color;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  .error-icon {
    font-size: 18px;
  }
  .error-text {
    margin: 0;
  }
}