#categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $gap-unit $page-margin;
  gap: $gap-unit;
  .content {
    width: 100%;
    max-width: 1000px;
    padding-top: $gap-unit;
    @include slide-up;
  }
}

// Styles used across pages
.category-listing {
  display: flex;
  flex-wrap: wrap;
  gap: calc($gap-unit * 2);
}
.category-select {
  display: flex;
  flex-wrap: wrap;
  gap: calc($gap-unit/2);
}
.category-unit {
  width: 65px;
  max-width: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  @include selectable-style-with-cat-icon;

  h5 {
    font-weight: 400;
    color: $info-color;
  }
  .category-icon-btn {
    .category-icon {
      width: 50px;
      height: 50px;

      .MuiSvgIcon-root {
        width: 1.2em;
        height: 1.2em;
      }
    }
  }
  .selected {
    box-shadow: $box-shadow;
  }
  .not-selected {
    background-color: $light-grey;
    opacity: 0.5;
  }
}

@media (max-width: 900px) {
  #page #categories {
    .content {
      flex-direction: column;
      height: fit-content;
      #category-listing {
        justify-content: center;
      }
    }
  }
}
