// Section of PageLayot.js

.misc-panel-cont {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-unit;
  width: 75%;
}
.transaction-panel {
  width: 25%;
}

.overview-panel,
.scheduled-panel,
.category-panel {
  min-width: fit-content;
  width: 30%;
  max-width: 100%;
}
.account-panel {
  width: 100%;
}

// Header
//// TopBar.js
#top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 14px;
  border-bottom: $border;
  padding: 0 $page-margin;
  box-shadow: $box-shadow;
}
.brand-container {
  display: flex;
  width: fit-content;
  align-items: flex-end;
}
.logo-container {
  display: flex;
  align-items: flex-end;
  .bar {
    width: 9px;
    border-left: 5px solid $primary-color;
  }
  .bar-1 {
    height: 5px;
  }
  .bar-2 {
    height: 10px;
  }
  .bar-3 {
    height: 15px;
  }
}
.brand-name {
  line-height: 1;
  color: $secondary-color;
  position: relative;
  top: 5px;
}
.accent-stop {
  color: $primary-color;
}
.brand-slogan {
  margin-left: 10px;
  font-size: 14px;
  color: $secondary-text-color;
  line-height: 1;
}

// Nav.js
nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  cursor: pointer;
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    padding: 0 20px;
    color: $light-grey;
    .nav-label {
      margin-top: 3px;
      padding-bottom: 12px;
      font-size: 12px;
      color: $light-grey;
    }
    .nav-underline {
      width: 100%;
      border-radius: 10px;
      height: 2px;
      background-color: $light-grey;
    }
    &.active {
      color: $secondary-color;
      .nav-label {
        color: $secondary-color;
      }
      .nav-underline {
        background-color: $secondary-color;
      }
    }
  }
}

// Categories
.category-btn-cont {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-unit;
  button {
    background-color: hsl(164, 48%, 60%);
  }
  .selected {
    box-shadow: $box-shadow;
  }
  .not-selected {
    background-color: $light-grey;
    opacity: 0.5;
  }
}

.category-icon-btn {
  width: 60px;
  height: 60px;
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: $border;
  border-radius: $border-radius;
  color: $secondary-color;
  font-size: 14px;
  font-weight: bold;
}

// Scheduled Action

.schedule-action-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

// Transaction
.transaction-type-amount-cont {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  .expense-income-btn {
    font-weight: 700;
    margin-right: 15px;
  }
  .amount-input {
    font-size: 36px;
    border: 0px;
    width: 100%;
  }
  .plus {
  }
  .minus {
  }
}

.auth-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $page-margin;
}
.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  form {
    width: 350px;
  }
}

.account-container {
  position: relative;
  cursor: pointer;
  #menu-icon {
    margin-top: 10px;
    padding: 10px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
  }
  #menu-icon:hover,
  &.open #menu-icon,
  &:hover #menu-icon {
    border: $border;
  }
  .account-actions {
    position: absolute;
    top: 60px;
    right: 0px;
    border-radius: $border-radius;
    padding: 16px;
    width: 150px;
    text-align: center;
    border: $border;
    box-shadow: $box-shadow;
    background-color: $background-color;
    display: none;
    flex-direction: column;
  }
  &:hover {
    .account-actions {
      display: flex;
    }
  }
  &.open {
    .account-actions {
      display: flex;
    }
  }
}
