

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 16px;

  .card-header {
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    margin: calc($gap-unit * 2) 0;

    h3 {
      color: $primary-color;
      line-height: 1.4;
      font-weight: 700;
      font-size: 22px;
    }
    .card-subtitle {
      color: $info-color;
      font-size: 16px;
      line-height: 1.4;
    }
  }
  .card-body {
    width: 100%;
  }
}

#home {
  display: flex;
  flex-direction: column;
  margin: $gap-unit $page-margin;

  .top-section {
    display: flex;
    max-height: 840px;
    gap: calc($gap-unit * 3);
    margin-bottom: calc($gap-unit * 3);

    .top-section-main {
      display: flex;
      flex-direction: column;
      gap: calc($gap-unit * 3);
    }
  }

  .overview-panel {
    flex-grow: 1;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    gap: calc($gap-unit * 2);

    .hero-content {
      max-width: 400px;
      @include slide-in-left;
      h1 {
        color: $primary-color;
        line-height: 1.4;
        margin-bottom: $gap-unit;
        font-weight: 700;
        font-size: 32px;
      }
      p {
        color: $info-color;
        font-size: 18px;
        line-height: 1.3;
      }
    }

    .overview-circle-cont {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      .primary-circle {
        border: 16px solid $primary-color;
        border-radius: 1000px;
        width: 300px;
        min-width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include slide-up;
        .total-label {
          font-size: 28px;
        }
        .total-balance {
          font-size: 32px;
          color: $primary-color;
          margin: $gap-unit 0;
        }
        .change-label {
          margin-top: 8px;
          color: $info-color;
        }
        .balance-change {
          margin-top: 8px;
          font-size: 22px;
        }
      }
    }
  }

  .account-panel {
    @include slide-up;
    .money-pot-listing {
      margin: 0 auto;
      padding: 0 30px;
      display: flex;
      width: fit-content;
      position: relative;
      .arrow-btn {
        font-size: 29px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 500;
      }
      .next-arrow-btn {
        right: 0px;
      }
      .previous-arrow-btn {
        left: 0px;
      }
      .outer-money-pots-cont {
        overflow: hidden;
        width: calc((210px * 3));
        min-width: calc((210px * 3));

        @media (max-width: 1290px) {
          width: calc((210px * 2));
          min-width: calc((210px * 2));
        }
        @media (max-width: 1100px) {
          width: calc((210px * 3));
          min-width: calc((210px * 3));
        }

        @media (max-width: 730px) {
          width: 300px;
          min-width: 300px;
          .dyanimic-money-pots-cont {
            transition: left 0.3s ease;
            div.secondary-circle {
              width: 240px;
              height: 240px;
              margin: 10px 30px;
              .pot-balance {
                margin-top: calc($gap-unit * 2);
                font-size: 26px;
              }
              .pot-name {
                font-size: 22px;
              }
            }
          }
        }

        .dyanimic-money-pots-cont {
          transition: left 0.3s ease;
          position: relative;
          display: flex;
          align-items: center;
          .secondary-circle {
            border: 8px solid $secondary-color;
            border-radius: 1000px;
            width: 190px;
            height: 190px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
            @include selectable-styles;
            background-color: transparent;

            .pot-balance {
              margin-top: $gap-unit;
              font-size: 22px;
            }
            .pot-name {
              color: $info-color;
              font-style: italic;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .transaction-card {
    width: 370px;
    max-width: 370px;
    min-width: 370px;
    flex-grow: 0;
    width: fit-content;
    @include slide-up;

    @media (max-width: 1100px) {
      display: none;
    }

    .card-header {
      margin-bottom: $gap-unit;
    }

  }

  .bottom-home-section {
    display: flex;
    gap: calc($gap-unit * 3);
    @include slide-up;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  color: rgb(250, 250, 250);
  background-color: $dark-grey;
}

#scheduled-listing .category-icon,
#transaction-listing .category-icon {
  width: 30px;
  height: 30px;

  .MuiSvgIcon-root {
    width: 0.7em;
    height: 0.7em;
  }
}

// Mobile media  query
@media (max-width: 600px) {
  body #page {
    #home .top-section {
      max-height: fit-content;

      .overview-panel {
        flex-direction: column;
        div.hero-content {
          max-width: fit-content;
        }
      }
    }

    .scheduled-listing,
    .category-listing {
      justify-content: center;
    }

    footer {
      font-size: 12px;
    }
  }
}
